
body {
    height: 250px;
    background: linear-gradient(#3da54fa9, #36ac7b); /* In case a browser does not support gradients */
    background: linear-gradient(#3da54fa9, #36ac7b); /* Standard syntax */
    background: -webkit-linear-gradient(#3da54fa9, #36ac7b); /* Safari */
}

.mainDiv {
        padding: 100px;
        font-family: Arial, Helvetica, sans-serif;
  }

  .mainDiv h1{
     text-align: center;
     color: #111; 
     font-family: 'Helvetica Neue', sans-serif; 
     font-size: 150px; 
     font-weight: bold; 
     letter-spacing: -1px; 
     line-height: 1;
  }

  .mainDiv .data{
    margin: auto;
    width: 55%;
    background-color: rgb(211, 209, 200);
    padding: 10px;
    font-size: 50px; 

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


  .shadow {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  }

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    flex: 2;
    margin-right: 20px;
} 